body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fff;
  color: #2b2b2b;
  line-height: 1.6;
}

.nav-holder {
  width: 100%;
  background-color: #9c0000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  color: #fff;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.site-name {
  font-size: 20px;
  font-weight: bold;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cinema-dropdown {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.account-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}


.container {
  max-width: 1000px;
  margin: 10px auto;
  text-align: center;
  padding: 0 1px;
  margin-top: 50px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

p {
  font-size: 17px;

}

.cinema-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.cinema-card {
  width: 300px;
  text-align: center;
  margin-bottom: 30px;
  margin: 0px 5px;
}

.cinema-card img {
  width: 140px;
  height: 140px;
  margin-bottom: 10px;
}

.cinema-card h3 {
  color: #b30000;
  font-size: 20px;
  margin-bottom: 15px;
}

.visit-btn {
  display: inline-block;
  background-color: #861c1c;
  color: white;
  padding: 12px 40px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.visit-btn:hover {
  background-color: #b32626;
  transform: scale(1.05);
}
